
.navbar{
    font-family: 'Courier New', Courier, monospace;
    text-align: center; 
    border-bottom:1px solid black;
    margin-bottom: 1px;
    width: 100%;


}

.columnmain{
    background-color:rgb(232, 234, 255);
    float: right;
    border-left: 1px solid black;
    
  
}

.columnside{ 
  float: left;
  margin-right: 10px;

}

.form{
    background-color: white;
    align-items: initial;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
}
button:hover{
    color: green;
    background-color: aliceblue;
    font-size: 30px;
}
button{
    font-size: 20px;
    width: 100%;
}
.rating1{
    float: left;
}
